body {
    height: auto;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.container div {
    border-color: black;
    border-width: 4px;
}

.sidebar {
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.sidebar div {
    color: white;
}

.sidebar h2 {
    padding: 0.5rem 0;
}

.main-links {
    display: flex;
    flex-direction: column;
}

.main-links > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.secondary-links {
    display: flex;
    flex-direction: column;
}

.secondary-links > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.menu {
    display: grid;
    grid-template-rows: auto 1fr;
}

.menu-top {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: white;
}

input {
    background-color: rgb(217, 224, 230);
    border-radius: 12px;
    width: 400px;
    border: none;
    height: 1.5rem;
}

input:focus {
    outline: none;
}

.menu-top > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

img {
    height: 40px; /* or your desired height */
    width: auto; /* Maintain aspect ratio */
    background-color: rgb(217, 224, 230);
    border-radius: 100%;
}

.notification{
    margin-left: 200px;
}

.menu-top > * img {
    height: 40px; /* or your desired height */
    width: auto; /* Maintain aspect ratio */
}

.menu-bottom {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: white;
}

.menu-bottom > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-bottom img {
    height: 60px;
}

.menu-bottom-right {
    gap: 2rem;
}

.menu-bottom-right > * {
    display: flex;
    background-color: rgb(66, 66, 255);
    border-radius: 18px;
    height: 36px;
    width: 80px;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    background-color: rgb(217, 224, 230);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 2rem;
}



.announcementsNtrending {
    grid-column: 2;
}

.announcements {
    grid-row: 1 / 2;
    background-color: rgb(217, 224, 230);
    
}

.announcements-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Dynamic font size */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
}

.announcements-content div {
    font-size: 12px;
}

.announcements-border {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.trendings {
    background-color: rgb(217, 224, 230);
}

.trending-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
}

.trending {
    display: flex;
    gap: 1rem;
}

h2 {
    font-size: 16px;    
    padding: 1rem 0;
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
}

.projects {
    grid-row: 1;
    background-color: rgb(217, 224, 230);
    padding-right: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
}

.projects-card {
    display: grid;
    background-color: white;
    height: 220px;
    grid-template-columns: 0.5rem 1fr;
    border-radius: 12px;
}

.colored-block {
    background-color: orange;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.projects-card-content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 2rem 1rem;
}

.projects-card-content h2, .projects-card-content p {
    padding: 0;
    margin: 0;
}

svg {
    height: 25px;
    width: auto;
}

.projects-card-icons {
    display: flex;
    gap: 1rem;
    justify-content: end;
}